<h1>New Charge</h1>
<% if !flash[:notice].nil? %>
<div class="row">
    <div class="flash notice col-xs-12">
        <%= flash[:notice] %>
    </div>
</div>
<% end %>
<%= form_tag charges_path do %>
  <h3>Customers : </h3>
  <%=select_tag "customer_id", options_from_collection_for_select(@customers, "id", "first_name")%></br>
  <h3>Amount : </h3>
  <%= text_field_tag 'amount'%></br>
  <h3>Currencies : </h3>
  <%=select_tag "currency", options_for_select([[ "usd", "usd" ], [ "gbp", "gbp" ],[ "eur", "eur" ],[ "inr", "inr" ]])%></br>
  <h3></h3>
  <%=submit_tag 'Submit'%>

<%end%>

  